function BSTNode.fullNew 0
push constant 3
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push argument 2
pop this 2
push pointer 0
return
function BSTNode.new 0
push constant 3
call Memory.alloc 1
pop pointer 0
push constant 0
pop this 0
push constant 0
pop this 1
push argument 0
pop this 2
push pointer 0
return
function BSTNode.getLeft 0
push argument 0
pop pointer 0
push this 0
return
function BSTNode.getRight 0
push argument 0
pop pointer 0
push this 1
return
function BSTNode.setLeft 0
push argument 0
pop pointer 0
push argument 1
pop this 0
push constant 0
return
function BSTNode.setRight 0
push argument 0
pop pointer 0
push argument 1
pop this 1
push constant 0
return
function BSTNode.getValue 0
push argument 0
pop pointer 0
push this 2
return
function BSTNode.setValue 0
push argument 0
pop pointer 0
push argument 1
pop this 2
push constant 0
return
